*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*                 header nav section                */
main{
    width: 90%;
    margin: 0 auto;
}
.header-section{
    background-color: #FFF8F3;
    border: 3px solid red;
}
.parson-nav {
    display: flex;
    margin: 10px 10px ;
    padding: 10px 30px;
    justify-content: space-between;
}
.parson-nav > h1{
    padding: 10px 20px;
}
.parson-nav ul{
    display: flex;
}
.parson-nav ul li{
    padding: 10px 20px;
    list-style: none;
}
.parson-nav ul .hier-me{
    background-color: orangered;
    border-radius: 5px;
}
/* .......................................................         */

/*                       header main section            */


.container-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-blog{
    width: 100%;
    padding: 40px;
}
.conten-text > h3{
    font-weight: 600;
    font-size: 35px;
}
.conten-text > h1{
    font-weight: 700;
    font-size: 45px;
}
.btn-info button{
    display:inline-block;
    padding: 15px 25px;
    margin: 25px 10px 5px 0;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px orangered;
    font-size: 22px;
    color: orangered;
    font-weight: 700;
}
.btn-info button:hover{
    background-color: orangered;
    color: white;
    transition: 0.5s;
}
/*         img section style          */
.header-img{
    width: 100%;
    background-image: url(images/header_bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-img img{
    width:100% ;
    height:100%;
    margin: 5px;
    padding: 4px ;
    overflow: auto;
    bottom: 0;
}

/*                    about section          */
.about-container{
    width: 80%;
    margin: 130px auto 50px;
    border: 3px solid red;
    padding: 70px;
    background-color: #FFF8F3;

}
.about-conte{
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}
.about-conte h2{
    padding: 20px;
}
.contact-info {
    display: flex;
    margin: 35px 0 2px;
    padding-left:  15px;
    justify-content: space-between;

}

/*                         my skill section                */
.my-skil-cnt{
    width: 80%;
    margin: 50px auto;
}
.experiance-skill{
    text-align: center;
    padding: 50px ;
}
.experiance-skill h2{
    padding: 30px;
}
.my-skill{
    display: flex;
    gap: 20px;


}
.skill1,.skill2,.skill3,.skill4{
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px wheat;
}
.my-skill , h3{
    padding: 15px 0;
}
/*         education and summary section    */
.education-summary > h1{
  text-align: center;
  margin: 50px ;
}
.sumary-container{
    display: flex;
    margin: 10px;
    
}
.education > h1{
    margin: 25px 0;  
    padding: 10px;
    gap: 20px;
}
.degree h2, h4 ,p{
    padding: 10px;
    
}
.degree{
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 18px wheat;
    margin-bottom: 15px;
    border-radius: 5px;
}
.exparianc{
    margin: 25px 50px 25px 0;  
    padding: 10px;
    
}
.exparianc > h1{
    margin: 25px 0;  
    padding: 10px;

}
.exprian{
    margin-left: 50px;
   
}
.btn-exparance{
    display:block;
    padding: 12px 18px;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px orangered;
    font-size: 20px;
    color: white;
    background-color: orangered;
    font-weight: 300;
    text-align: center;
}